@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/SpaMisTransaction/ngCode/frmDistBonusDiscAdjClaim.js"></script>
<script>
    var CurrentDate = '@ViewBag.CurentDate';
</script>
<div ng-app="myApp" ng-controller="DistBonusDiscAdjClaimCtrl">
    <div class="loader LoaderStyle" ng-cloak data-loading>
        <img src="~/Content/img/loader.gif" width="100" height="100" style="top: 50%; left: 50%;" />
    </div>
    <div class="form-horizontal" ng-form="frmDistBonusDiscAdjClaim">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <h2 class="box-title">
                                        <strong ng-cloak>{{FormTitle}}</strong>
                                    </h2>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-right  m-t-10">
                                        <button type="button" class="btn btn-embossed btn-primary" ng-click="ViewData()" ng-class="{'btn-transparent': frmDistBonusDiscAdjClaim.$invalid}" ng-disabled="frmDistBonusDiscAdjClaim.$invalid"><i class="fa fa-save"></i>&nbsp{{btnSaveValue}}</button>
                                        <button type="button" class="btn btn-embossed btn-danger" ng-click="Reset()"><i class="fa fa-refresh"></i>&nbsp Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="box-body">
                            <div class="form-group">


                                <div class="col-md-2">
                                    <label class="control-label">Process No</label>
                                </div>
                                <div class="col-md-3">
                                    <ui-select class="form-control form-white" ng-change="OnProcessNoClick()" ng-model="frmDistBonusDiscAdjClaim.Process" theme="select2" ng-cloak required>
                                        <ui-select-match placeholder="-- Please Select --">{{$select.selected.ProcessNo}}</ui-select-match>
                                        <ui-select-choices repeat="process in Process | propsFilter: {ProcessNo: $select.search, ProcessDate: $select.search}">
                                            <div ng-bind-html="process.ProcessNo | highlight: $select.search"></div>
                                            <small>
                                                <b>Process Date: </b><span ng-bind-html="''+process.ProcessDate | highlight: $select.search"></span> &nbsp;&nbsp;&nbsp;
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">Process Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="hidden" class="form-control pull-right" ng-model="ProcessNo" readonly>
                                    <input type="text" class="form-control pull-right" ng-model="ProcessDate" readonly>
                                </div>


                            </div>
                            <div class="form-group">

                                <div class="col-md-2">
                                    <label class="control-label">Bonus Start Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control pull-right " ng-model="BonusStartDate" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">Bonus End Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control pull-right" ng-model="BonusEndDate" readonly>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">Approved Status</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control pull-right " ng-model="ApprovedStatus" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">Approved Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control pull-right " ng-model="ApprovedDate" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">Process Run Status</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control pull-right " ng-model="ProcessRunStatus" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">Process Run Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control pull-right " ng-model="ProcessRunDate" readonly>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">Customer</label>
                                </div>
                                <div class="col-md-8">
                                    <ui-select class="form-control form-white" ng-change="OnCustomerClick()" ng-model="frmDistBonusDiscAdjClaim.Customer" theme="select2" ng-cloak required>
                                        <ui-select-match placeholder="-- Please Select --">{{$select.selected.CustomerName}}</ui-select-match>
                                        <ui-select-choices repeat="customers in Customers | propsFilter: {CustomerName: $select.search, CustomerCode: $select.search}">
                                            <div ng-bind-html="customers.CustomerName | highlight: $select.search"></div>
                                            <small>
                                                <b>Code: </b><span ng-bind-html="''+customers.CustomerCode | highlight: $select.search"></span> &nbsp;&nbsp;&nbsp;
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div id="gridSearch" ui-grid="gridSearch" class="grid" style="height: 310px; width: 100%;" ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter></div>

        </section>
    </div>

</div>





